In [1]:
import numpy as np
import pandas as pd

In [2]:
def generate_bids():
    bid1 = np.random.randint(10, 100)
    bid2 = np.random.randint(10, 100)
    
    return (bid1, bid2)

In [3]:
A = []
B = []
C = []

for _ in range(10):
    A.append(generate_bids())
    B.append(generate_bids())
    C.append(generate_bids())

In [4]:
print(A)

[(13, 66), (78, 46), (35, 64), (55, 96), (91, 90), (51, 41), (26, 68), (22, 28), (43, 84), (42, 94)]

In [5]:
print(B)

[(89, 40), (22, 97), (26, 48), (74, 13), (98, 55), (88, 51), (20, 26), (28, 93), (59, 89), (83, 64)]

In [6]:


print(C)

[(50, 30), (22, 58), (96, 32), (78, 86), (38, 97), (53, 81), (31, 67), (43, 27), (99, 93), (80, 57)]

In [7]:
A_avg = []

for i in range(10):
    A_avg.append((A[i][0] + A[i][1])/2)
    
A_avg

[39.5, 62.0, 49.5, 75.5, 90.5, 46.0, 47.0, 25.0, 63.5, 68.0]

In [8]:
B_avg = []

for i in range(10):
    B_avg.append((B[i][0] + B[i][1])/2)
    
B_avg

[64.5, 59.5, 37.0, 43.5, 76.5, 69.5, 23.0, 60.5, 74.0, 73.5]

In [9]:
C_avg = []

for i in range(10):
    C_avg.append((C[i][0] + C[i][1])/2)
    
C_avg

[40.0, 40.0, 64.0, 82.0, 67.5, 67.0, 49.0, 35.0, 96.0, 68.5]

In [10]:
RMS = []

for i in range(10):
    x = 0
    x += A[i][0]**2 + A[i][1]**2
    x += B[i][0]**2 + B[i][1]**2
    x += C[i][0]**2 + C[i][1]**2
    x /= 6
    x = np.sqrt(x)
    RMS.append(x)
    
RMS = np.array(RMS)
RMS = RMS.round(2)
print(RMS)

[53.92 60.47 55.59 72.3  81.51 63.24 44.4  47.04 80.37 72.15]

In [11]:
differences = []

for i in range(10):
    this_round = []
    
    this_round.append(abs(A_avg[i] - RMS[i]))
    this_round.append(abs(B_avg[i] - RMS[i]))
    this_round.append(abs(C_avg[i] - RMS[i]))

    differences.append(this_round)
    
print(pd.DataFrame(differences))

       0      1      2
0  14.42  10.58  13.92
1   1.53   0.97  20.47
2   6.09  18.59   8.41
3   3.20  28.80   9.70
4   8.99   5.01  14.01
5  17.24   6.26   3.76
6   2.60  21.40   4.60
7  22.04  13.46  12.04
8  16.87   6.37  15.63
9   4.15   1.35   3.65

In [12]:
winning_diffs = []

for i in range(10):
    winning_diffs.append(np.amin(differences[i]))
    
winning_diffs = np.array(winning_diffs)
winning_diffs = winning_diffs.round(2)

print(winning_diffs)

[10.58  0.97  6.09  3.2   5.01  3.76  2.6  12.04  6.37  1.35]